.viewFontSize {
    font-size: 120%;
}
@media (max-width: 555px) {
    .viewFontSize{
        font-size: 110%;
    }
}
@media (max-width: 475px) {
    .viewFontSize{
        font-size: 90%;
    }
}
@media (max-width: 425px) {
    .viewFontSize{
        font-size: 75%;
    }
    .viewStudent{
        width: 150px;
    }
    .viewLogo{
        width: 70px;
    }
}
@media (max-width: 400px) {
    .viewFontSize{
        font-size: 70%;
    }
    .viewStudent{
        width: 100px;
    }
    .viewLogo{
        width: 50px;
    }
    .viewText{
        font-size: x-large;
    }
}
@media (max-width: 375px) {
    .viewFontSize{
        font-size: 60%;
    }
    .viewLogo{
        width: 50px;
    }
    .viewText{
        font-size: x-large;
    }
}
@media (max-width: 325px) {
    .viewFontSize{
        font-size: 40%;
    }
    .viewStudent{
        width: 85px;
    }
    .viewLogo{
        width: 50px;
    }
    .viewText{
        font-size: x-large;
    }
}

.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}
  
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}